#search-city
{
    display: inline-block;
    margin: 0 auto;
    margin-top: 80px;
    width: 300px;
    border-radius: 4px;
    background-color: transparent;
    color: black;
    
}

#search-button
{
    color: gold;
    background-color: maroon;
    border: 1px solid;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    
}

#search-button:hover
{
   
    box-shadow: 4px -5px 16px 3px #F7FCFC,  -5px 5px 16px 1px #E8EFEE;
    background-color: #AA2B1D;
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
} 

